@model VG_Review.Models.Game

div class="container my-5">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body bg-dark text-light">
                <h1 class="card-title">Create</h1>

                <h4 class="card-text">Game</h4>
                <hr class="my-2">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create" class="mt-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label for="Title" class="form-label">Title</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="form-label">Description</label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Genre" class="form-label">Genre</label>
                                <input asp-for="Genre" class="form-control" />
                                <span asp-validation-for="Genre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Developer" class="form-label">Developer</label>
                                <input asp-for="Developer" class="form-control" />
                                <span asp-validation-for="Developer" class="text-danger"></span>
                            </div>
                            <div class="d-grid">
                                <input type="submit" value="Create" class="btn btn-primary mt-3" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
