@model VG_Review.Models.Game

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body bg-dark text-light">
                    <h1 class="card-title text-center">Delete This Game</h1>

                    <div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                        </dl>

                        <form asp-action="Delete" class="mt-4">
                            <input type="hidden" asp-for="GameId" />
                            <div class="d-grid">
                                <h3 class="card-text text-center">Are you sure you want to delete this?</h3>
                                @* <input type="submit" value="Delete" class="btn btn-outline-danger btn" /> *@
                                <button type="submit" class="btn btn-outline-danger btn">
                                    <i class="bi bi-trash"></i> This Game
                                </button>
                                <a asp-action="Index" class="btn btn-outline-info btn mt-2">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>